.main-screen {
    padding: 26px 0 20px;
    overflow: hidden;
}

.main-screen__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include media-mobile {
        flex-direction: column-reverse;
    }
}

.main-screen__buttons {
    display: flex;
    align-items: center;
    >*:not(:last-child) {
        margin-right: 30px;
        @include media-tablet {
            margin-right: 15px;
        }
    }
    @include media-mobile {
        flex-direction: column;
        >*:not(:last-child) {
            margin-right: 0;
            margin-bottom: 10px;
        }
    }
}

.link-button {
    display: inline-flex;
    align-items: center;
    color: $color-main;
    @include font(1.6rem, 2.4rem, 600);
    &:hover {
        color: $color-button-hover;
    }
}

.main-screen__title {
    margin: 0 0 30px;
    width: 518px;
    @include media-tablet {
        width: 410px;
    }
    @include media-mobile {
        text-align: center;
        width: 300px;
    }
}

.main-screen__description {
    margin: 0 0 45px;
    width: 458px;
    @include font(1.8rem, 2.8rem, normal);
    padding-right: 63px;
    @include media-tablet {
        width: 380px;
        padding-right: 0;
    }
    @include media-mobile {
        text-align: center;
        width: 300px;
    }
}

.main-screen__img {
    @include media-mobile {
        // width: 300px;
        img {
            width: 100%;
        }
    }
}