.main-screen {
    padding: 26px 0 20px;
}

.main-screen__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1126px;
    width: 90%;

}

.main-screen__buttons {
    >* {
        margin-right: 30px;
    }
}

.link-button {
    display: inline-flex;
    align-items: center;
    color: $color-main;
    @include font(1.6rem, 2.4rem, 600);
    &:hover {
        color: $color-button-hover;
    }
}

.main-screen__title {
    margin: 0 0 30px;
    max-width: 518px;
}

.main-screen__description {
    margin: 0 0 45px;
    max-width: 458px;
    @include font(1.8rem, 2.8rem, normal);
}

.main-screen__img {
    max-width: 592px;
    img {
        width: 100%;
    }
}