.tools {
    padding: 95px 0 90px;
    background: url("../img/tools-bg.png") center bottom/contain no-repeat;
    &_layout {
        max-width: 1095px;
        width: 98%;
        margin: 0 auto;
    }
}

.tools__title {
    max-width: 537px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 55px;
}
.tool__icon {
   margin-bottom: 29px;
}

.tool__title {
    margin-bottom: 13px;
}

.tool__text {
    font-style: normal;
    font-weight: 500;
}
.tools__button {
    text-align: center;
    margin-top: 35px;
}