.tools {
    padding: 80px 0 90px;
    background: url("../img/tools-bg.png") center bottom/contain no-repeat;
    
}

.tools__title {
    max-width: 539px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 54px;
}
.tool__icon {
   margin-bottom: 29px;
}

.tool__title {
    margin-bottom: 13px;
}

.tool__text {
    font-style: normal;
    font-weight: 500;
}
.tools__button {
    text-align: center;
    margin-top: 49px;
}