.header__navigation {
    margin-right: 29px;
    margin-left: auto;
    cursor: pointer;
}

.navigation {
    display: flex;
    padding: 0;
}
.navigation__link {
    list-style: none;
    margin-right: 27px;
    color: $color-header;
    @include font(1.4rem, 1.8rem, normal);
    @extend %transition;
    &:hover {
        color: $color-main;
    }
}
.navigation-links {
    padding: 0;
}

.navigation-links__link {
    list-style: none;
    margin-right: 27px;
    color: $color-header;
    @include font(1.4rem, 1.8rem, normal);
    @extend %transition;
    &:hover {
        color: $color-main;
    }
}