.footer {
    &__title {
        margin-bottom: 43px;
        text-align: justify;
    }
    &_links {
        margin: 0 0 17px;
    }
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    @include media-laptop {
        flex-direction: column;
    }
}

.logo {
    width: 20%;
}

.footer__links-wrapper {
    display: flex;
    justify-content: space-between;
    width: 71%;
    @include media-laptop {
        margin-top: 25px;
        width: 100%;
    }
    @include media-tablet {
        flex-direction: column;
    }
}

.footer__navigation-wrapper {
    display: flex;
    justify-content: space-between;
    width: 46%;
    @include media-tablet {
        width: 70%;
        justify-content: space-between;
    }
    @include media-mobile {
        width: 90%;
        justify-content: space-between;
        margin-right: 0;
    }
}

.footer__navigation {
    a:hover {
        color: $color-main;
    }
}

.footer__form {
    width: 40%;
    @include media-tablet {
        margin-top: 25px;
        width: 70%;
    }
}

.footer__form-title {
    margin-bottom: 30px;
}