.footer {
    &__title {
        margin-bottom: 43px;
        text-align: justify;
    }
    &_links {
        margin: 0 0 17px;
    }
}

.footer__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    flex-basis: 20%;
}

.footer__navigation {
    flex-basis: 12%;
    a:hover {
        color: $color-main;
    }
}

.footer__form {
    flex-basis: 29%;
}

.footer__form-title {
    margin-bottom: 30px;
}