.header {
    padding: 15px 0 17px;     
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include media-tablet {
        flex-direction: column;
    }
}

.header__navigation {
    @include media-laptop {
        display: none;
    }
}

.header__logo {
    display: flex;
    align-items: center;
}

.header__buttons {
    @include media-tablet {
        margin-top: 30px;
    }
}